<div class="main">
  <div class="left">
   <center><p> <img src="/assets/img/avatar.png" alt="HelPic" class="img-responsive" width="50" height="50" class="rounded-circle" style="opacity: .8">
    &nbsp;&nbsp;<span style="color: white;">Welcome</span> <br><br></p></center>
    

    <nav class="mt-2">
      <ul  data-widget="treeview" role="menu" data-accordion="false" style="color: white;">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a routerLink="dashboard" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <!-- <i class="right fas fa-angle-left"></i> -->
            </p>
          </a>
          
        </li>
        <li class="nav-item">
          <a routerLink="students" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Students
              <span class="right badge badge-danger"></span>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a routerLink="/admin" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Employers
              <!-- <i class="fas fa-angle-left right"></i> -->
              <span class="badge badge-info right"></span>
            </p>
          </a>
          </li>
        <li class="nav-item has-treeview">
          <a routerLink="/admin" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Search/Sort
              <!-- <i class="right fas fa-angle-left"></i> -->
            </p>
          </a>
           </li>
        <li class="nav-item has-treeview">
          <a routerLink="/admin" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p>
              Reports
              <!-- <i class="fas fa-angle-left right"></i> -->
            </p>
          </a>
         </li>
         
      </ul>
    </nav>

  </div>

  

  <div class="right">  
         <router-outlet></router-outlet>
  </div>

</div>


