<div class="bodycontent">
    <div class="main">
        <div class="title">
            <p>STUDENT ENROLLMENT SYSTEM</p>
        </div>

        <div class="content">
            <div class="leftcontent">
                <p>COURSES OFFERED</p>
                
                    <div class="card bg-secondary text-white ">
                        <div class="card-body">Certified Cyber Security Analyst</div>
                      </div><br>
                      <div class="card bg-secondary text-white">
                        <div class="card-body">Certified Specialist in full Stack Development</div>
                      </div><br>
                      <div class="card bg-secondary text-white">
                        <div class="card-body">Certified Specialist in Data Science and Analytics(NORKA)</div>
                      </div><br>
                      <div class="card bg-secondary text-white">
                        <div class="card-body">Certified Specialist in Digital Marketing</div>
                      </div><br>
                      <div class="card bg-secondary text-white">
                        <div class="card-body">Certified Specialist in Robotic Proces Automation</div>
                      </div><br>
                      <div class="card bg-secondary text-white">
                        <div class="card-body">Certified Specialist in XR(NORKA)</div>
                      </div>
                
            </div>
            <div class="rightcontent"> 
                <div class="container">
                    <div class="card" style="width:260px">
                      <center><p>STUDENT LOGIN</p></center>
                        <img class="card-img-top" src="assets/images/student11.png" alt="Card image"
                            style="width: 250px;height: 350px;">
                        <div class="card-body">
                            <center><a routerLink="studentlogin" class="btn btn-secondary stretched-link">Student login</a></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
