.heading{
    /* font-family: 'Unlock', cursive; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
}

.studentform{
    margin-top: 0cm;
    margin-bottom: 1cm;
    padding-top: 1cm;
}