
<div class="login">
    <h2 class="login-header">
        Student Registration Form
    </h2>
    <form class="form col-md-6" class="login-container" #userlogin="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <input type="text" name="username" class="form-control" id="username" #username="ngModel" [(ngModel)]="user.username" placeholder="Username" pattern="^[a-zA-Z0-9]([._-](?![._-])|[a-zA-Z0-9]){3,18}" required/>
            <label for="error" class="text-danger" *ngIf="username.touched && username.invalid" >Invalid Username</label>
        </p>
        <p>
            <input type="email" name="email" class="form-control" #email="ngModel" id="email" [(ngModel)]="user.email" pattern="^([A-Za-z0-9\.-]+)@([A-Za-z0-9\-]+)[.]([a-z]{2,3})(.[a-z]{2,3})?$" placeholder="email@example.com"  required />
            <label for="error" class="text-danger" *ngIf="email.touched && email.invalid" >Invalid Email</label>
        </p>
        <p>
            <input type="password" name="password" (keyup)="validatepassword();" class="form-control" #password="ngModel" [(ngModel)]="user.password" id="inputpassword" placeholder="Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$" required />
            <label for="error" class="text-danger" *ngIf="password.touched && password.invalid">Invalid Password</label>
            <label for="passworderror"  class="{{textcolor}}" id="passerror">{{pwdstrength}}</label>
        </p>
        <p>
            <input type="password" name="cpassword" class="form-control" #cpassword="ngModel" [(ngModel)]="user.cpassword" id="cpassword" placeholder="Confrim Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$" required />
            <label for="error" class="text-danger" *ngIf="cpassword.touched && cpassword.invalid">Invalid Password</label>
            <label for="confirm password error"  class="text-danger" >{{errormsg}}</label>
        </p>
        <p>
            <center><button [disabled]="userlogin.form.invalid">Submit</button></center>
        </p>
        <p>
            <center><a routerLink="/studentlogin">Already Registered</a></center>
        </p>
    </form>
</div>
